/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Rancho&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --webkit-font-smoothing: antialiased;
}

/* style the scroll using the following color #d97706 */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #ea580c;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ea580c;
}

/*  */


body {
    font-family: "Rubik", sans-serif;
    background-color: #f9fafb;
}

section {
    padding: 2rem 0;
}

label,
input {
    display: block;
}

@media (min-width: 640px) {
    section {
        padding: 4rem 0;
    }
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-hero {
    background-image: linear-gradient(hsl(34, 100%, 10%, 0.3), hsl(34, 100%, 92%)),
        url("./assets/yummibg-hero.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.section-cta {
    background-image: linear-gradient(hsl(34, 100%, 92%), hsl(34, 100%, 10%, 0.3)),
        url("./assets/join-section-image.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.text-shadow {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.feature {
    position: relative;
    overflow: hidden;
}

.feature-image {
    position: relative;
    transform: rotate(-10deg);
}

.feature-image:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
}

.bg-linear {
    background-image: linear-gradient(to bottom,
            hsl(34, 100%, 92%),
            hsl(34, 100%, 10%, 0),
            hsl(34, 100%, 92%)),
        url(./assets/section-heading-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-shadow {
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}