<div class="w-full h-[200px]">
    <img src="{{ recipe?.image }}" class="object-cover w-full h-full" alt="recipe image" />
</div>
<div class="px-6 pt-1 pb-4 bg-white ">
    <span class="pb-1 text-xs font-bold tracking-wider text-orange-700 uppercase">
        {{ recipe?.dishType }}
    </span>
    <div class="flex flex-col gap-4 md:gap-0  justify-between md:h-[100px]">
        <h3 class="text-[28px] leading-7 text-[#222] line-clamp-2">
            {{ recipe?.name | titlecase }}
        </h3>
        <div class="flex items-center gap-1">
            <fa-icon icon="clock-rotate-left" class="text-orange-600" />
            <span class="text-sm">{{ recipe?.cookTime }} mins</span>
        </div>
    </div>
</div>