<div class="fade-in w-full overflow-scroll md:max-w-lg">
  <h3 class="mb-4 text-3xl tracking-wide text-orange-600">Add New Recipe</h3>
  <form
    #createRecipeForm="ngForm"
    class="mx-1 flex flex-col gap-4"
    (ngSubmit)="onSubmit(createRecipeForm)"
  >
    <div class="flex flex-col justify-between gap-4 lg:flex-row">
      <div class="flex-1">
        <div class="flex-1">
          <label for="name" class="mb-1 text-sm text-[#888]">Name</label>
          <input
            class="w-full rounded-md border-[1px] border-orange-300 px-2 py-1 outline-none"
            type="text"
            name="name"
            #nameInput="ngModel"
            placeholder="Type recipe name."
            ngModel
            minlength="3"
            required
          />
        </div>
        <!-- Recipe name validation -->
        <div *ngIf="nameInput.touched">
          <div
            class="ml-4 text-red-500"
            *ngIf="nameInput.errors?.['minlength']"
          >
            Minimum 3 characters.
          </div>
          <div class="ml-4 text-red-500" *ngIf="nameInput.errors?.['required']">
            Name is required.
          </div>
        </div>
        <!--  -->
      </div>
      <div>
        <div class="flex-1">
          <label for="cookTime" class="mb-1 text-sm text-[#888]"
            >Preparation time</label
          >
          <div
            class="flex items-center overflow-hidden rounded-md border-[1px] border-orange-300"
          >
            <input
              class="flex-1 px-2 py-1 outline-none"
              type="number"
              name="cookTime"
              #cookTime="ngModel"
              placeholder="Cook time in minutes."
              ngModel
              required
            />
          </div>
        </div>
        <!-- Preparation time validation -->
        <div *ngIf="cookTime.touched || cookTime.touched">
          <div class="ml-4 text-red-500">
            <div
              *ngIf="
                cookTime.errors?.['required'] || cookTime.errors?.['required']
              "
            >
              Preparation time is required.
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
    <div>
      <div class="form-group">
        <label for="dishType" class="mb-1 text-sm text-[#888]">Dish type</label>
        <select
          class="w-full rounded-md border-[1px] border-orange-300 px-2 py-1 outline-none"
          name="dishType"
          #dishInput="ngModel"
          ngModel
          required
        >
          <option *ngFor="let dish of dishes" [value]="dish.name">
            {{ dish.text }}
          </option>
        </select>
      </div>
      <!-- Dish type validation -->
      <div *ngIf="dishInput.touched">
        <div class="ml-4 text-red-500" *ngIf="dishInput.errors?.['required']">
          Dish type is required.
        </div>
      </div>
      <!--  -->
    </div>
    <div>
      <div class="form-group">
        <label for="image" class="mb-1 text-sm text-[#888]">Image</label>
        <input
          class="w-full rounded-md border-[1px] border-orange-300 px-2 py-1 outline-none"
          name="image"
          #imageInput="ngModel"
          placeholder="Link to your image."
          ngModel
          required
          pattern="^(https?:\/\/).*\.(png|jpe?g)$"
        />
      </div>
      <!-- Image validation -->
      <div *ngIf="imageInput.touched">
        <div class="ml-4 text-red-500" *ngIf="imageInput.errors?.['required']">
          Image is required.
        </div>
        <div class="ml-4 text-red-500" *ngIf="imageInput.errors?.['pattern']">
          Invalid format.
        </div>
      </div>
      <!--  -->
    </div>
    <div>
      <div class="form-group">
        <label for="description" class="mb-1 text-sm text-[#888]"
          >Description</label
        >
        <textarea
          class="w-full rounded-md border-[1px] border-orange-300 px-2 py-1 outline-none"
          name="description"
          #descriptionInput="ngModel"
          placeholder="Write your recipe description."
          rows="3"
          ngModel
          minlength="10"
          required
        ></textarea>
      </div>
      <!-- Description validation -->
      <div *ngIf="descriptionInput.touched" class="mt-[-7px]">
        <div
          class="ml-4 text-red-500"
          *ngIf="descriptionInput.errors?.['required']"
        >
          Description is required.
        </div>
        <div
          class="ml-4 text-red-500"
          *ngIf="descriptionInput.errors?.['minlength']"
        >
          Minimum 10 characters.
        </div>
      </div>
      <!--  -->
    </div>
    <div>
      <div class="form-group">
        <label for="ingidients" class="mb-1 text-sm text-[#888]"
          >Ingredients</label
        >
        <textarea
          class="w-full rounded-md border-[1px] border-orange-300 px-2 py-1 outline-none"
          name="ingredients"
          #ingredientsInput="ngModel"
          placeholder="Each ingredient on a new line *"
          rows="3"
          ngModel
          required
        ></textarea>
      </div>
      <!-- Ingredients validation -->
      <div *ngIf="ingredientsInput.touched" class="mt-[-7px]">
        <div
          class="ml-4 text-red-500"
          *ngIf="ingredientsInput.errors?.['required']"
        >
          Ingredients are required.
        </div>
      </div>
      <!--  -->
    </div>
    <div>
      <div class="form-group m-0">
        <label for="steps" class="mb-1 text-sm text-[#888]">Steps</label>
        <textarea
          class="w-full rounded-md border-[1px] border-orange-300 px-2 py-1 outline-none"
          name="steps"
          #stepsInput="ngModel"
          placeholder="Each step on a new line *"
          rows="3"
          ngModel
          required
        ></textarea>
      </div>
      <div *ngIf="stepsInput.touched" class="mt-[-7px]">
        <div class="ml-4 text-red-500" *ngIf="stepsInput.errors?.['required']">
          Steps are required.
        </div>
      </div>
    </div>
    <button
      class="w-min justify-self-start rounded-md bg-orange-600 px-6 py-2 text-sm font-medium uppercase text-white transition-colors hover:bg-orange-500"
    >
      Save
    </button>
  </form>
</div>
