<div class="fade-in w-full overflow-scroll md:max-w-6xl">
  <h3 class="mb-4 text-3xl tracking-wide text-orange-600">Add New Recipe</h3>
  <app-loader *ngIf="isLoading" />

  <form
    [formGroup]="createRecipeForm"
    class="mx-1 grid gap-8 lg:grid-cols-2"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-col gap-4">
      <app-input
        [control]="createRecipeForm.controls.name"
        inputId="name"
        label="Name"
        placeHolder="The name of the recipe"
      />
      <app-input
        [control]="createRecipeForm.controls.cookTime"
        inputId="cookTime"
        inputType="number"
        label="Preparation time"
        placeHolder="Cook time in minutes"
      />
      <app-input
        [control]="createRecipeForm.controls.dishType"
        label="Dish type"
        inputId="dishType"
        inputType="select"
      />
      <app-input
        [control]="createRecipeForm.controls.image"
        label="Image"
        inputId="image"
        placeHolder="Recipe image"
      />
      <app-input
        [control]="createRecipeForm.controls.description"
        label="Description"
        inputType="textarea"
        inputId="description"
        placeHolder="Recipe description"
      />
    </div>
    <div class="flex flex-col gap-4">
      <app-input
        [control]="createRecipeForm.controls.ingredients"
        inputType="textarea"
        label="Ingredients"
        inputId="ingredients"
        placeHolder="Each ingredient on a new line **"
      />
      <app-input
        [control]="createRecipeForm.controls.steps"
        inputType="textarea"
        label="Steps"
        inputId="steps"
        placeHolder="Each step on a new line **"
      />
    </div>
    <button
      class="w-min rounded-sm bg-orange-600 px-6 py-3 text-sm font-bold uppercase tracking-wider text-white transition-colors hover:bg-orange-500"
      type="submit"
    >
      save
    </button>
  </form>
</div>
