<!-- HERO -->
<section class="section-hero relative grid place-content-center">
  <div class="container flex flex-col items-center text-white">
    <h1
      class="text-shadow mb-6 text-center text-4xl font-bold md:mb-12 md:text-6xl"
    >
      Welcome to
      <span
        class="font-rancho text-5xl font-bold italic text-orange-100 md:text-8xl"
        >Yummi.</span
      ><span
        class="font-rancho text-5xl font-bold italic text-orange-100 md:text-8xl"
        >bg</span
      >
      <br />
      Discover the Flavors of Our Nation!
    </h1>
    <h3
      class="mb-8 text-center text-2xl font-medium text-orange-950 md:text-4xl"
    >
      {{ homeContent.subtitle }}
    </h3>
    <p
      class="mb-8 max-w-3xl text-center font-medium text-orange-950 md:mb-14 md:text-xl"
    >
      {{ homeContent.text }}
    </p>
    <a
      class="rounded-full bg-orange-600 px-8 py-4 text-lg font-medium text-white transition-colors delay-1000 duration-500 hover:bg-orange-500 md:px-12 md:py-6 md:text-xl"
      routerLink="/recipes"
      >{{ homeContent.cta }}</a
    >
  </div>
  <div class="mt-16 flex justify-center">
    <a
      href="#features"
      class="group flex h-16 w-16 animate-bounce items-center justify-center rounded-full border-[2px] border-orange-600 transition-all hover:bg-orange-600"
    >
      <fa-icon
        icon="arrow-down"
        class="text-xl text-orange-600 group-hover:text-white"
      />
    </a>
  </div>
</section>

<!-- FEATURES -->
<section class="section-features" id="features">
  <div class="container p-16">
    <div
      class="feature | grid grid-cols-1 justify-items-center gap-8 md:grid-cols-2"
    >
      <div
        data-aos="fade-up"
        class="md:feature-image h-full w-full overflow-hidden rounded-sm"
      >
        <img
          class="h-full w-full object-cover"
          src="../assets/what-we-offer-2.jpg"
          alt="food table"
        />
      </div>
      <ul class="flex-col-1 grid content-center gap-6 md:gap-12 lg:grid-cols-2">
        <li
          data-aos="fade-up"
          class="transition-transform"
          data-aos-delay="50"
          *ngFor="let feature of homeContent.features"
        >
          <div class="mb-2 flex items-center gap-2 md:mb-4">
            <fa-icon
              [icon]="feature.icon"
              class="text-2xl text-orange-400"
            ></fa-icon>
            <h5 class="text-xl font-medium text-[#222] md:text-2xl">
              {{ feature.title }}
            </h5>
          </div>
          <p class="text-[#444] md:text-lg">
            {{ feature.text }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- BRAND SHOWCASE -->
<section class="section-branding">
  <div
    class="bg-linear flex h-[150px] flex-col items-center justify-center md:h-[300px]"
  >
    <div class="container">
      <h3 data-aos="fade-up" class="w-[50%] text-2xl text-[#222] md:text-5xl">
        Why choose Yummi.bg
      </h3>
    </div>
  </div>
  <div class="container">
    <ul
      class="flex-col-1 grid content-center gap-6 md:mt-16 md:gap-12 lg:grid-cols-2"
    >
      <li
        *ngFor="let quality of homeContent.qualities; let i = index"
        data-aos="fade-up"
        data-aos-delay="50"
        class="flex flex-col gap-2 rounded-xl shadow-orange-400 md:flex-row md:items-center md:gap-12"
      >
        <span class="block text-6xl font-bold text-orange-400 md:text-9xl">{{
          quality.number
        }}</span>
        <div>
          <h5 class="mb-2 text-xl font-medium text-[#222] md:mb-4 md:text-2xl">
            {{ quality.title }}
          </h5>
          <p class="text-[#444] md:text-lg">
            {{ quality.text }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- CTA -->
<section class="section-cta flex flex-col items-center justify-center">
  <div
    class="container flex flex-col items-center justify-center gap-8 md:gap-16"
  >
    <h3 class="text-center text-2xl tracking-wide text-orange-950 md:text-5xl">
      Join Yummi.bg Today <br />
      Unleash Your Inner Chef!
    </h3>
    <a
      routerLink="/register"
      class="rounded-full bg-orange-600 px-8 py-4 text-lg font-medium text-white transition-colors hover:bg-orange-500 md:px-12 md:py-6 md:text-xl"
      >Open Account</a
    >
  </div>
</section>
