<div class="max-w-6xl">
  <div *ngIf="!editMode" class="fade-in">
    <h2
      class="text-wrap mb-2 text-4xl font-extralight tracking-tight text-[#222] md:text-5xl"
    >
      {{ recipe.name | titlecase }}
    </h2>
    <h5
      class="text-wrap mb-8 rounded-sm bg-gradient-to-r from-orange-50 to-white p-4 text-xl text-[#555] md:text-2xl"
    >
      {{ recipe.description }}
    </h5>
    <div class="flex flex-col gap-8 pt-6 lg:flex-row">
      <div class="flex gap-4">
        <div class="h-12 w-12 rounded-full bg-slate-400"></div>
        <div>
          <p>
            By
            <a
              [routerLink]="['/recipes/users/', recipe.owner._id]"
              class="text-sm font-bold uppercase tracking-widest text-[#222] underline-offset-2 hover:underline"
              >{{ recipe.owner.username | titlecase }}</a
            >
          </p>
          <p class="text-[#888]">
            Published {{ recipe.createdAt | date: "MMMM d, y" }}
          </p>
        </div>
      </div>
      <ng-container *ngIf="isLoggedIn">
        <button
          type="button"
          (click)="onSaveRecipe()"
          [disabled]="isRecipeSaved"
          *ngIf="!isOwner"
          class="flex w-min items-center gap-1 rounded-sm bg-orange-100 px-4 py-2 transition-colors hover:bg-orange-200"
          [ngClass]="
            isRecipeSaved
              ? 'bg-green-200 disabled:pointer-events-none'
              : 'bg-orange-100'
          "
        >
          <ng-container *ngIf="!isRecipeSaved">
            <fa-icon icon="heart" class="text-lg text-orange-600" />
            <span class="text-xs font-bold uppercase tracking-wider text-[#222]"
              >save</span
            >
          </ng-container>
          <ng-container *ngIf="isRecipeSaved">
            <fa-icon icon="check" class="text-lg text-orange-600" />
            <span class="text-xs font-bold uppercase tracking-wider text-[#222]"
              >saved</span
            >
          </ng-container>
        </button>
        <div class="flex gap-2 md:gap-4" *ngIf="isOwner">
          <button
            (click)="toggleEditMode()"
            type="button"
            class="flex items-center gap-1 rounded-sm bg-orange-100 px-4 py-2 transition-colors hover:bg-orange-200"
          >
            <fa-icon icon="pen-to-square" class="text-lg text-orange-600" />
            <span class="text-xs font-bold uppercase tracking-wide text-[#222]"
              >edit</span
            >
          </button>
          <button
            (click)="onDelete()"
            type="button"
            class="flex items-center gap-2 rounded-sm bg-red-500 px-4 py-2 transition-colors hover:bg-red-600"
          >
            <fa-icon icon="eraser" class="text-lg text-orange-950" />
            <span class="text-xs font-bold uppercase tracking-wide text-white"
              >delete</span
            >
          </button>
        </div>
      </ng-container>
    </div>
    <span class="my-6 block h-px w-full bg-orange-200"></span>
    <div class="w-full lg:w-2/3">
      <div class="mb-8 h-auto overflow-hidden rounded-sm">
        <img
          src="{{ recipe.image }}"
          alt="image of the recipe"
          class="h-full w-full object-cover"
        />
      </div>
      <div class="flex flex-col gap-8 md:px-8">
        <div class="bg-gradient-to-b from-orange-200 to-white p-4">
          <h3 class="mb-4 text-3xl text-[#222] md:text-4xl">
            All the ingredients
          </h3>
          <ul class="grid grid-cols-1 lg:grid-cols-3">
            <li
              *ngFor="let ingredient of recipe?.ingredients; let i = index"
              class="ml-8 text-orange-900 underline underline-offset-4 md:text-lg"
            >
              {{ i + 1 }}. {{ ingredient }}
            </li>
          </ul>
        </div>
        <div class="p-4">
          <h3 class="mb-4 text-3xl text-[#222] md:text-4xl">How to make</h3>
          <ul class="flex flex-col gap-2">
            <li
              *ngFor="let step of recipe?.steps"
              class="ml-4 text-[#444] md:text-lg"
            >
              {{ step }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editMode" class="fade-in md:max-w-full">
    <h3 class="mb-4 text-3xl text-orange-600">Edit Your Recipe</h3>
    <app-loader *ngIf="isLoading" />
    <form
      [formGroup]="editRecipeForm"
      class="mx-1 grid gap-8 lg:grid-cols-2"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col gap-4">
        <app-input
          [control]="editRecipeForm.controls.name"
          inputId="name"
          label="Name"
          placeHolder="The name of the recipe"
        />
        <app-input
          [control]="editRecipeForm.controls.cookTime"
          inputId="cookTime"
          inputType="number"
          label="Preparation time"
          placeHolder="Cook time in minutes"
        />
        <app-input
          [control]="editRecipeForm.controls.dishType"
          label="Dish type"
          inputId="dishType"
          inputType="select"
        />
        <app-input
          [control]="editRecipeForm.controls.image"
          label="Image"
          inputId="image"
          placeHolder="Recipe image"
        />
        <app-input
          [control]="editRecipeForm.controls.description"
          label="Description"
          inputType="textarea"
          inputId="description"
          placeHolder="Recipe description"
        />
      </div>
      <div class="flex flex-col gap-4">
        <app-input
          [control]="editRecipeForm.controls.ingredients"
          inputType="textarea"
          label="Ingredients"
          inputId="ingredients"
          placeHolder="Each ingredient on a new line **"
        />
        <app-input
          [control]="editRecipeForm.controls.steps"
          inputType="textarea"
          label="Steps"
          inputId="steps"
          placeHolder="Each step on a new line **"
        />
      </div>
      <button
        class="w-min rounded-sm bg-orange-600 px-6 py-3 text-sm font-bold uppercase tracking-wider text-white transition-colors hover:bg-orange-500"
        type="submit"
      >
        save
      </button>
    </form>
  </div>
</div>
