<div class="max-w-6xl fade-in">
  <h2 class="text-5xl text-[#222] mb-2 tracking-tight">
    {{ recipe?.name | titlecase }}
  </h2>
  <h5 class="text-2xl text-[#555]">{{ recipe?.description }}</h5>
  <div class="flex items-center gap-2 pt-6">
    <div class="w-12 h-12 rounded-full bg-slate-400"></div>
    <div>
      <p>
        By
        <a
          [routerLink]="['/recipes/users/', recipe?.owner._id]"
          class="text-sm uppercase text-[#222] font-bold tracking-widest hover:underline underline-offset-2"
          >{{ recipe?.owner?.username | titlecase }}</a
        >
      </p>
      <p class="text-[#888]">
        Published {{ recipe?.createdAt | date : "MMMM d, y" }}
      </p>
    </div>
    <div class="flex gap-2">
      <!-- <button></button> -->
    </div>
  </div>
  <span class="block w-full h-px my-6 bg-orange-200"></span>
  <div class="w-full md:w-2/3">
    <div class="h-auto mb-8 overflow-hidden rounded-sm">
      <img
        src="{{ recipe?.image }}"
        alt="image of the recipe"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="flex flex-col gap-8 md:px-8">
      <div>
        <h3 class="mb-4 text-4xl text-[#222]">All the ingredients</h3>
        <ul class="flex flex-col gap-2 list-disc">
          <li
            *ngFor="let ingredient of recipe?.ingredients"
            class="ml-8 text-lg text-orange-900 underline underline-offset-4"
          >
            {{ ingredient }}
          </li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 text-4xl text-[#222]">How to make</h3>
        <ul class="flex flex-col gap-2">
          <li
            *ngFor="let step of recipe?.steps"
            class="ml-4 text-lg text-[#444]"
          >
            {{ step }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
