<div class="relative bg-orange-600 shadow-md">
  <div class="site-navigation | m-auto">
    <nav
      class="container flex items-center justify-between h-20 mx-auto mb-10 font-semibold text-white"
    >
      <a routerLink="">
        <h3
          class="px-2 py-1 text-xl italic font-bold text-orange-600 uppercase bg-slate-50 md:text-2xl md:py-2 md:px-4 font-rancho rounded-3xl"
        >
          Yummi.bg
        </h3>
      </a>
      <!-- bigger devices -->
      <ul class="items-center hidden gap-1 md:flex">
        <li *ngFor="let link of navLinks">
          <a
            class="inline-block px-4 py-2 text-lg transition-colors rounded-full cursor-pointer hover:bg-orange-500"
            [routerLink]="link.path"
            >{{ link.name }}</a
          >
        </li>
      </ul>

      <!-- smaller devices -->
      <div class="md:hidden" clickOutside (clickOutside)="clickedOutside()">
        <button class="p-2 md:hidden" (click)="toggleNavigation()">
          <fa-icon icon="bars" class="inline-block text-2xl text-slate-50" />
        </button>

        <ul
          *ngIf="dropdownNavigation"
          #dropdownNav
          class="flex flex-col items-center justify-center gap-1 absolute top-[100%] left-0 text-white w-full bg-orange-600"
        >
          <li
            *ngFor="let link of navLinks"
            class="w-full border-b border-orange-500"
          >
            <a
              class="block px-2 py-1 transition-colors rounded-md cursor-pointer -full"
              [routerLink]="link.path"
              ><p class="ml-6">{{ link.name }}</p></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
