<!-- NAVIGATION -->
<div class="site-navigation | container m-auto">
  <nav
    class="container fixed flex items-center justify-between h-20 mx-auto mb-10 font-semibold text-white"
  >
    <h3 class="text-4xl font-semibold font-rancho">YummiBG</h3>
    <ul class="flex items-center gap-1">
      <li>
        <a
          class="inline-block px-4 py-2 text-xl transition-colors rounded-md hover:bg-orange-500"
          routerLink=""
          >Home</a
        >
      </li>
      <li>
        <a
          class="inline-block px-4 py-2 text-xl transition-colors rounded-md hover:bg-orange-500"
          routerLink=""
          >Recipes</a
        >
      </li>
      <li>
        <a
          class="inline-block px-4 py-2 text-xl transition-colors rounded-md hover:bg-orange-500"
          routerLink=""
          >Login</a
        >
      </li>
      <li>
        <a
          class="inline-block px-4 py-2 text-xl transition-colors rounded-md hover:bg-orange-500"
          routerLink=""
          >Register</a
        >
      </li>
    </ul>
  </nav>
</div>

<!-- HERO -->
<section class="grid section-hero place-content-center">
  <div class="container flex flex-col items-center text-white text-shadow">
    <h1 class="mb-4 text-3xl font-bold text-center md:mb-12 md:text-6xl">
      Welcome to
      <span class="text-4xl italic text-orange-100 font-rancho md:text-8xl"
        >Yummi.</span
      ><span
        class="text-4xl italic text-orange-100 font-rancho md:text-8xl bg-flag-gradient"
        >bg</span
      >
      <br />
      Discover the Flavors of Our Nation!
    </h1>
    <h3
      class="mb-2 text-xl font-semibold text-center text-gray-200 md:mb-8 md:text-3xl"
    >
      Explore Authentic Dish Recipes from Every Corner of the Country
    </h3>
    <p
      class="max-w-3xl text-center md:text-xl font-[500] text-gray-200 mb-6 md:mb-14"
    >
      Discover the rich tapestry of flavors from our nation's diverse regions at
      Yummibg. Immerse yourself in authentic dish recipes, each showcasing the
      unique culinary heritage passed down through generations.
    </p>
    <a
      class="px-4 py-2 text-lg font-semibold transition-colors bg-orange-600 md:text-xl md:px-8 md:py-4 hover:bg-orange-500 rounded-xl"
      routerLink=""
      >Begin Your Culinary Journey</a
    >
  </div>
</section>

<!-- FEATURES -->
<section class="py-6 md:py-16 section-features">
  <div class="container">
    <h3
      class="mb-2 text-xl font-semibold text-center text-[#333] md:mb-8 md:text-3xl"
    >
      What We Offer
    </h3>
    <ul>
      <li>
        <h5>Authentic Recipes</h5>
        <p>
          From the tangy curries of the South to the hearty stews of the North,
          our curated collection includes tried-and-tested recipes straight from
          the kitchens of regional experts. Experience the authentic flavors and
          learn the secrets behind each dish.
        </p>
      </li>
      <li>
        <h5>Explore Regional Delights</h5>
        <p>
          Indulge your taste buds in a diverse array of regional delights.
          Discover the delicate spices of the East, the fiery dishes of the
          West, the comforting specialties of the Central regions, and the
          fusion cuisines emerging from the North-East.
        </p>
      </li>
      <li>
        <h5>Step-by-Step Guidance</h5>
        <p>
          Our recipes come with detailed instructions, accompanied by
          mouth-watering visuals, to ensure you can recreate the flavors at
          home. From ingredient lists to cooking techniques, we've got you
          covered.
        </p>
      </li>
      <li>
        <h5>Discover Local Ingredients</h5>
        <p>
          Delve into the world of indigenous ingredients that give each dish its
          distinct character. Learn about the local produce, spices, and
          condiments that make regional cuisines truly special.
        </p>
      </li>
      <li>
        <h5>Community and Feedback</h5>
        <p>
          Join a vibrant community of food enthusiasts, share your experiences,
          and exchange tips and tricks. Engage in discussions, provide feedback,
          and be a part of the Yummibg culinary family.
        </p>
      </li>
    </ul>
  </div>
</section>
