<!-- LAYOUT -->
<div
  class="relative grid grid-cols-6 grid-rows-[auto,auto,1fr] gap-3 bg-white p-4 text-[#333] md:h-screen md:grid-rows-[auto,1fr]"
>
  <!-- The loader between the resolvers -->
  <div
    *ngIf="loading"
    class="absolute z-10 flex h-screen w-full items-center justify-center bg-gray-100/70"
  >
    <div class="flex flex-col items-center justify-center">
      <app-loader />
      <p class="mt-[-30px] text-xl text-gray-700">Loading, please wait...</p>
    </div>
  </div>
  <!-- ASIDE -->
  <app-recipes-aside
    class="col-span-full h-full rounded-sm bg-gradient-to-l from-orange-100 to-white p-4 md:col-span-3 md:row-span-full lg:col-span-2 2xl:col-span-1"
  />
  <!-- HEADER -->
  <app-recipes-header
    class="col-span-full row-span-1 flex flex-col items-center gap-4 rounded-sm bg-gradient-to-r from-orange-100 to-white p-4 md:col-span-3 lg:col-span-4 lg:flex-row lg:gap-8 2xl:col-span-5"
  />

  <!-- MAIN -->
  <main
    class="row-span drop-shadow- col-span-full rounded-sm bg-white p-4 md:col-span-3 md:overflow-scroll lg:col-span-4 2xl:col-span-5"
  >
    <app-component-navigation />
    <!-- OUTLET -->
    <router-outlet />
  </main>
</div>
