<div class="container">
  <!-- LAYOUT -->
  <div
    class="grid h-screen grid-cols-5 grid-rows-[auto,auto,1fr] md:grid-rows-[auto,1fr,] gap-4 py-4 text-[#333]"
  >
    <!-- ASIDE -->
    <aside
      class="h-full col-span-5 p-4 rounded-lg shadow-md bg-orange-50 md:col-span-2 lg:col-span-1 md:row-span-full"
    >
      <div>
        <div class="p-2 bg-orange-100 rounded-2xl">
          <h3 class="text-lg font-semibold">Choose region</h3>
        </div>
        <ul class="p-4 text-[#555] flex flex-col gap-2">
          <li class="">
            <label for="" class="flex items-center gap-2">
              <input type="radio" class="" />
              <span>Rodopi</span>
            </label>
          </li>
          <li class="">
            <label for="" class="flex items-center gap-2">
              <input type="radio" class="" />
              <span>Rila</span>
            </label>
          </li>
          <li class="">
            <label for="" class="flex items-center gap-2">
              <input type="radio" class="" />
              <span>Pirin</span>
            </label>
          </li>
          <li class="">
            <label for="" class="flex items-center gap-2">
              <input type="radio" class="" />
              <span>Stara Planina</span>
            </label>
          </li>
        </ul>
      </div>
    </aside>

    <!-- HEADER -->
    <header
      class="flex items-center col-span-5 row-span-1 gap-8 p-4 rounded-lg shadow-md md:col-span-3 lg:col-span-4 bg-orange-50"
    >
      <button
        class="px-3 border-[1px] border-orange-600 text-lg font-medium text-orange-600 transition-colors bg-transparent rounded-lg hover:bg-orange-600 hover:text-white flex items-center gap-2 leading-[1px] py-2"
        *ngIf="authService.loggedUser$ | async"
      >
        <fa-icon icon="plus" />
        <span>Add Recipe</span>
      </button>
      <form
        class="flex-1 flex items-center gap-2 px-2 py-1 border-[1px] border-orange-600 rounded-full bottom-2 rouded-full leading-[1px]"
      >
        <fa-icon icon="search" class="mx-2 text-orange-600" />
        <input
          type="text"
          class="w-full text-lg bg-transparent outline-none"
          placeholder="Search recipe by name"
        />
      </form>
      <div
        *ngIf="authService.loggedUser$ | async"
        class="flex items-center gap-4"
      >
        <div class="flex items-center gap-2">
          <fa-icon icon="user" class="ml-2 text-lg text-orange-600" />
          <p class="text-lg">{{ authService.getLocalUser().username }}</p>
        </div>
        <button
          class="px-3 py-1 text-lg font-medium text-white transition-colors bg-orange-600 rounded-lg hover:bg-orange-500"
          (click)="authService.logout()"
        >
          Logout
        </button>
      </div>
    </header>

    <!-- MAIN -->
    <main
      class="col-span-5 rounded-lg shadow-lg row-span bg-orange-50 md:col-span-3 lg:col-span-4"
    >
      Main
    </main>
  </div>
</div>
