<div class="fade-in p-4">
  <div *ngIf="recipesService.isLoading">
    <app-loader />
    <p class="-mt-[30px] text-lg text-[#222]">Loading recipes...</p>
  </div>
  <ng-container *ngIf="recipes | async as recipeList">
    <ul class="responsive-grid grid gap-8">
      <li
        class="card | cursor-pointer rounded-sm bg-white drop-shadow-md hover:translate-x-[-3px] hover:translate-y-[-3px]"
        *ngFor="let recipe of recipeList"
      >
        <a [routerLink]="['/recipes/single', recipe._id]">
          <app-single-recipe [recipe]="recipe" />
        </a>
      </li>
    </ul>
    <div
      *ngIf="recipeList.length === 0 && !recipesService.isLoading"
      class="col-span-full"
    >
      <h3 class="mb-4 text-3xl text-red-500">Opps...</h3>
      <p>Seems like there are no recipes meeting your criteria.</p>
      <p>Try again with different criteria.</p>
    </div>
  </ng-container>
</div>
