<div class="form-control">
  <label [for]="inputId" class="mb-1 text-sm text-[#888]">{{ label }}</label>
  <div
    class="form-group | flex items-center gap-2 rounded-sm border-2 border-orange-300 p-1 md:p-2"
  >
    <fa-icon
      *ngIf="iconName"
      class="ml-1 inline-block text-orange-300"
      [icon]="iconName"
    />
    <input
      [formControl]="control"
      class="w-full bg-transparent p-1 outline-none"
      [type]="inputType"
      [id]="inputId"
      [placeholder]="placeHolder"
    />
  </div>
  <ng-container *ngIf="control.invalid && control.dirty && control.touched">
    <div
      *ngFor="let error of control.errors | keyvalue"
      class="text-base text-red-500"
    >
      {{ errorMessages[error.key] }}
    </div>
  </ng-container>
</div>
