<section class="login-section | mx-4">
  <div
    class="flex flex-1 flex-col max-w-lg gap-8 px-6 py-10 md:p-12 mx-auto bg-white drop-shadow-md rounded-sm text-[#555]">
    <div class="flex items-center justify-center gap-2">
      <fa-icon icon="user-plus" class="text-lg text-orange-600" />
      <h3 class="text-2xl text-center text-orange-600">Sign Up</h3>
    </div>
    <div class="h-[2px] bg-orange-300"></div>
    <!-- LOADER -->
    <app-loader *ngIf="authService.isLoading" class="flex justify-center" />
    <!--  -->
    <!-- HTTP REQUEST ERROR -->
    <app-auth-http-error *ngIf="authService.httpError" />
    <!--  -->
    <form [formGroup]="formGroup" class="flex flex-col gap-6 mx-1" (ngSubmit)="onSubmit()">
      <app-input [control]="formGroup.controls.username" inputId="username" label="Username"
        placeHolder="Type your username" iconName="user" inputType="username" />
      <app-input [control]="formGroup.controls.email" inputId="email" label="Email" placeHolder="Type your email"
        iconName="at" inputType="email" />
      <app-input [control]="formGroup.controls.password" inputId="password" label="Password"
        placeHolder="Type your password" iconName="lock" inputType="password" />
      <app-input [control]=" formGroup.controls.repeatPassword" inputId="repeatPassword" label="Repeat password"
        placeHolder="Repeat your password" iconName="lock" inputType="password" />
      <button
        class="px-6 py-3 mt-4 text-xl font-medium tracking-wide text-white transition-colors bg-orange-600 rounded-sm hover:bg-orange-500">
        Confirm!
      </button>
    </form>
    <div class="text-center">
      <p>Already registered ?</p>
      <a routerLink="/login" class="text-orange-600 cursor-pointer hover:underline underline-offset-2">Login</a>
    </div>
  </div>
</section>