<section class="login-section | mx-4">
  <div
    class="flex flex-1 flex-col max-w-lg gap-8 px-6 py-10 md:p-12 mx-auto bg-white shadow-lg rounded-xl text-[#555]"
  >
    <div>
      <h3 class="mb-2 text-2xl text-[#333] font-semibold text-center">
        Register
      </h3>
    </div>
    <div class="h-[2px] bg-orange-300"></div>
    <form class="flex flex-col gap-6 mx-1">
      <div>
        <label for="username" class="mb-1">Username</label>
        <div
          class="flex items-center gap-2 p-1 border-2 border-orange-300 rounded-lg md:p-2"
        >
          <fa-icon class="inline-block ml-1" icon="user" />
          <input
            class="w-full p-1 outline-none"
            type="text"
            name="username"
            autocomplete="username"
            appOnInputFocus
            placeholder="Type your username"
            ngModel
          />
        </div>
      </div>

      <div>
        <label for="email" class="mb-1">Email</label>
        <div
          class="flex items-center gap-2 p-1 border-2 border-orange-300 rounded-lg md:p-2"
        >
          <fa-icon class="inline-block ml-1" icon="at" />
          <input
            class="w-full p-1 outline-none"
            type="email"
            name="email"
            autocomplete="email"
            placeholder="Type your email"
            ngModel
          />
        </div>
      </div>
      <div>
        <label for="password" class="mb-1">Password</label>
        <div
          class="flex items-center gap-2 p-1 border-2 border-orange-300 rounded-lg md:p-2"
        >
          <fa-icon icon="lock" class="inline-block ml-1" />
          <input
            class="w-full p-1 outline-none"
            type="password"
            name="password"
            autocomplete="new-password"
            placeholder="Type your password"
            ngModel
          />
        </div>
      </div>
      <div>
        <label for="repass" class="mb-1">Repeat password</label>
        <div
          class="flex items-center gap-2 p-1 border-2 border-orange-300 rounded-lg md:p-2"
        >
          <fa-icon icon="lock" class="inline-block ml-1" />
          <input
            class="w-full p-1 outline-none"
            type="password"
            name="repass"
            autocomplete="new-password"
            placeholder="Type your password"
            ngModel
          />
        </div>
      </div>
      <button
        class="px-6 py-3 mt-4 text-xl font-semibold text-white transition-colors bg-orange-600 rounded-md hover:bg-orange-500"
      >
        Register
      </button>
    </form>
    <div class="text-center">
      <p>Already registered ?</p>
      <a
        routerLink="/login"
        class="text-orange-600 cursor-pointer hover:underline underline-offset-2"
        >Login</a
      >
    </div>
  </div>
</section>
