<section class="login-section | mx-4">
  <div
    class="flex flex-1 flex-col max-w-lg gap-8 px-6 py-10 md:p-12 mx-auto bg-white shadow-lg rounded-xl text-[#555]"
  >
    <div>
      <h3 class="mb-2 text-2xl text-[#333] font-semibold text-center">Login</h3>
    </div>
    <div class="h-[2px] bg-orange-300"></div>
    <form
      #loginForm="ngForm"
      class="flex flex-col gap-6 mx-1"
      (ngSubmit)="onSubmit(loginForm)"
    >
      <div class="text-center bg-red-500 rounded-md" *ngIf="httpErrorMessage">
        <fa-icon icon="circle-exclamation" class="mr-2 text-white" />
        <span class="inline-block text-white">{{ httpErrorMessage }}</span>
      </div>
      <div>
        <label for="email" class="mb-1">Email</label>
        <div
          class="form-group | flex items-center gap-2 p-1 border-2 border-orange-300 rounded-lg md:p-2"
        >
          <fa-icon class="inline-block ml-1" icon="at" />
          <input
            class="w-full p-1 outline-none"
            type="email"
            name="email"
            #inputEmail="ngModel"
            appOnInputFocus
            autocomplete="email"
            placeholder="Type your email"
            ngModel
            email
            required
          />
        </div>
        <!-- email validation -->
        <div
          *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)"
          class="alert"
        >
          <div
            *ngIf="inputEmail.errors?.['required']"
            class="ml-4 text-red-500"
          >
            Email is required.
          </div>
          <div *ngIf="inputEmail.errors?.['email']" class="ml-4 text-red-500">
            Invalid email adress.
          </div>
        </div>
      </div>
      <div>
        <label for="password" class="mb-1">Password</label>
        <div
          class="form-group | flex items-center gap-2 p-1 border-2 border-orange-300 rounded-lg md:p-2"
        >
          <fa-icon icon="lock" class="inline-block ml-1" />
          <input
            class="w-full p-1 outline-none"
            type="password"
            name="password"
            #inputPassword="ngModel"
            autocomplete="current-password"
            placeholder="Type your password"
            ngModel
            minlength="6"
          />
        </div>
        <!-- password validation -->
        <div
          *ngIf="
            inputPassword.invalid &&
            (inputPassword.dirty || inputPassword.touched)
          "
          class="alert"
        >
          <div
            *ngIf="inputPassword.errors?.['minlength']"
            class="ml-4 text-red-500"
          >
            Minimum 6 characters.
          </div>
        </div>
      </div>
      <button
        class="px-6 py-3 mt-4 text-xl font-semibold text-white transition-colors bg-orange-600 rounded-md hover:bg-orange-500"
      >
        Login
      </button>
    </form>
    <div class="text-center">
      <p>Not a member ?</p>
      <a
        routerLink="/register"
        class="text-orange-600 cursor-pointer hover:underline underline-offset-2"
        >Register</a
      >
    </div>
  </div>
</section>
