<div class="flex w-full items-center justify-between gap-4">
  <a
    routerLink="/recipes/create"
    class="text-md flex items-center gap-2 rounded-md border-[1px] border-orange-600 bg-transparent px-4 py-2 font-medium leading-[1px] text-orange-600 transition-colors hover:bg-orange-600 hover:text-white"
    *ngIf="authService.loggedUser"
  >
    <fa-icon icon="plus" />
    <span>Add Recipe</span>
  </a>
  <form
    class="rouded-full bottom-2 flex flex-1 items-center gap-2 rounded-full border-[1px] border-orange-600 px-2 py-1 leading-[1px]"
  >
    <fa-icon icon="search" class="mx-2 text-orange-600" />
    <input
      [formControl]="searchControl"
      type="text"
      class="w-full bg-transparent px-2 py-1 outline-none"
      placeholder="Search recipe by name"
    />
  </form>
</div>
